aws-archive/icloud/venv/*
*.mp4
*.swp
*.log
anki_csv/anki_items.csv
anki_csv/words.csv
__pycache__
*.csv
*.db
*.class

## focus prompt
# maven
focusprompt/target/
focusprompt/.idea/
focusprompt/*.log
focusprompt/*.tmp
focusprompt/dependency-reduced-pom.xml

## photoanki
photo-to-anki/db

## seal
seal/test_sandbox_*
